@use "sass:map";
@use "sass:selector";
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: auto;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
}
a:any-link{
    text-decoration: none;
}
html a{
    text-decoration: none;
}
@import "./mixin";
@import "./variables";
// start header
@import 'header';
// end header

// start home 
@import 'home';
// end home 
// start footer
@import 'footer';
// end footer


//layout list
/* start breadcumrb */
.breadcumb{
    display: flex;
    align-items: center;
    padding-top: 30px;
    p{
        @extend %font-arial;
        font-size: 14px;
    }
    i{
        @extend .breadcumb__title;
        color: map.get($color,"898989");
        padding:0 10px;
    }
    &__title{
        color:map.get($color,"898989");
    }
    &__sub-title{
        font-weight: bold;
        color: map.get($color,"text");;
    }
}
/* end breadcumrb */
.list{
    display: flex;
    justify-content: space-between;
    // format hot-products__left
    .hot-products__left{
        width: 100%;
    }
    &-left{
        width: 24%;
        .product-item__rate{
            display: none;
        }
        .product-item__img{
            margin: 0; 
            object-fit: cover;
            width: 80px;
            height: 80px; 
        }
         // sản phẩm khuyến mãi
        .product-item{
            display: grid;
            grid-template-columns: 30% 60%;
            grid-template-rows: auto auto;
            justify-content: space-around;
            width: 100%;
            height: max-content;
            padding: 20px 0;
            box-shadow: none;
            & > a{
                grid-row: 1 / span 2;
            }           
            & > h3{
                grid-row: 1 / span 1;
                text-align: left;
            }
            &__price{
                text-align: left;
            }
            &__rate{
                display: none;
            }
        }
    }
    &-right{
        width: 74%;
    }
    .wrapper-icon-title:not(:first-child) .wrapper-icon-title--format{
        color: map.get($color,"898989") !important;
    }
    .hot-products__row-content .wrapper-icon-title:first-child .wrapper-icon-title--format {
        @extend %text-uppercase;
    }
    .hot-products__row-content{
        margin-top: 0px;
    }
    .hot-products{
        margin-top: 30px !important;
    }
    // tìm theo màu sắc
    .find-color{
        .color--format{
            width: 20px;
            height: 20px;
        }
        .wrapper-icon-title__list{
            width: max-content;
            height: max-content;
        }
        .wrapper-icon-title--format::first-letter{
            @extend %text-uppercase;
        }
        .red{
            background-color: #e61010;
        }
        .yellow{
            background-color: map.get($color,"yellow");
        }
        .blue{
            background-color: #0685ca;
        }
        .gray{
            background-color: #acacac;
        }
        .black{
            background-color:map.get($color,"252525");
        }
    }
}
%format-select{
    color: #898989;
    border: 1px solid map.get($color,"ebebeb");
    @extend .list-top__title;
    outline: none;
}
.list-right{
    .list-top{
        display: flex;
        align-items: center;
        display: flex;
        align-items: center;
        margin-top:42px;
        padding-bottom: 17px;
        border-bottom: 1px solid map.get($color,"ebebeb");
        &__title{
            @extend %font-arial;
            font-size: 14px;
            color: map.get($color,"text");;
            margin-right: 10px;
        }
        .name_product{
            @extend %format-select;
            height: 32px;
            text-indent: 10px;
        }
        .name{
            width: 165px;
            
        }
        .show{
            width: 100px;
        }
        &__sort-by{
            display: flex;
            align-items: center;
        }
        &__group-btn{
            margin-left: auto;
            font-size: 18px;
            & > i{
                padding:6px;
                border: 1px solid map.get($color,"ebebeb");
                color: map.get($color,"yellow");
            }
            & > i:first-child{  
                color: #898989;
                margin-right: 5px;
            }
        }

    }

    .list-product{
        .product-item__img{
            width: 180px;
            height: 180px;
        }
         // sản phẩm khuyến mãi
        &--format{
            .product-item{
                display: grid;
                grid-template-columns: 30% 60%;
                grid-template-rows: auto auto;
                justify-content: space-around;
                width: 100%;
                height: max-content;
                padding-top: 20px;
                & > a{
                    grid-row: 1 / span 2;
                }
    
                &  h3{
                    grid-row: 1 / span 1;
                    text-align: left;
                }
                &__price{
                    text-align: left;
                    margin-bottom: 0;
                }
                &__link-btn{
                    font-size: 12px;
                    padding: 15px 25px;
                }
                &__group-btn{
                    justify-content: initial;
                }
                &__rate{
                    justify-content: initial;
                    margin:12px 0;
                }
                &__description{
                    text-align: left;
                    margin:12px 0;
                    color: map.get($color,"898989");
                    @extend %font-arial;
                    font-size: 12px;
                    line-height: 1.5;
                    text-align: justify;
                }
            }
        }
    }
}
.pagination{
    margin: 70px 0 80px 0;
    &__list{
        text-align: right;
    }
    &__item{
        display: inline-block;
        padding: 10px 15px;
        border:1px solid map.get($color,"898989");
        margin-left: 5px;
    }
    &__item:nth-child(2){
        background-color: map.get($color,"yellow");
        .pagination__link{
            color:map.get($color,"white");
        }
    }
    &__link{
        @extend %font-arial;
        color:map.get($color,"898989");
        font-size: 13px;
    }
}

//layout grid
.grid-product--format{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top:42px;
    row-gap: 20px;


    & > .product-item{
        width: 31.8% !important;
        height: max-content!important;
        display: initial !important;
        &:hover  .product-item__link-btn{
            font-size: 12px;
            padding: 15px 25px;
        }
        &:hover{
            height: max-content !important;
        }
        &__link-btn{
            font-size: 0px;
            padding: 0px;
        }
    }
}

// start detail
@import "detail";
// end detail

.breadcumb--format{
    padding-bottom: 30px;
    border-bottom: 1px solid map.get($color,"ebebeb");
}

.register{
    &__form-info-user{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap:20px;
        margin-top: 37px;
    }
    &__form-group{
        width: 48%;
    }
    &__label-input{
        @extend %font-arial;
        font-size: 14px;
        color:map.get($color,"252525");
    }
    &__maker{
        color: #ff0000;
        margin-left: 2px;
    }
    &__input{
        height: 50px;
        width: 100%;
        outline: none;
        border: 1px solid map.get($color,"ebebeb");
        margin-top: 15px;
    }
    &_checkbox{
        display: inline-block;
        border: 1px solid map.get($color,"ebebeb");
        outline: none;
    }
    &__lable-checkbox{
        @extend %font-arial;
        font-size: 14px;
        font-style: italic;
        color: map.get($color,"898989");
        margin-left:8px;
    }
    &__title{
        @extend %font-roboto-medium;
        color: map.get($color,"252525");
        margin-top: 30px;
        font-size: 14px;
    }
    .product-item__link-btn {
        font-size: 12px;
        padding: 14px 25px;
    }
    .product-item__link-detail{
        margin-left: 0;
        margin-right: 10px;
    }
    .product-item__group-btn{
        justify-content: initial;
        padding: 40px 0 100px;
    }
}

.login{
    display: flex;
    justify-content: space-between;
    &__left{
        width: 48%;
    }
    &__right{
        width: 48%;
    }
    &__form-group--format{
        width: 100%;
    }
    &__form-group-check-box--format{
        display: flex;
    }
    &__forget-pass-word{
        margin-left:auto;
        font-style: italic;
        text-decoration: underline;
        @extend %font-arial;
        font-size: 14px;
        color:map.get($color,"yellow");
    }
    .product-item__link-btn {
        font-size: 12px;
        padding: 14px 25px;
        margin:30px 0 100px 0;
    }
    &__description{
        @extend %font-arial;
        font-size: 14px;
        color:map.get($color,"898989");
        line-height: 1.5;
        margin-top: 40px;
    }
}

// start blog
@import "blog";
// start end
// start shopping cart
@import "shopping-cart";
// enđ shopping cart

.page-404{
    display: flex;
    align-items: center;
    &__left{
        width: 55%;
        text-align: center;
    }
    &__right{
        width: 45%;
        img{
            width: 100%;
        }
    }
    &__title{
        @extend %font-roboto-bold;
        font-size: 100px;
        color:map.get($color,"yellow");;
    }
    &__description{
        @extend %font-myriad;
        font-size: 18px;
        color: map.get($color,"252525");
        margin-bottom: 30px;
    }
    .product-item__link-btn{
        font-size: 12px;
        padding: 15px 25px;
    }
}

// start popup
.popup{
    width: 60%;
    position: relative;
    display: flex;
    justify-content: space-between;
    background: #ffffff url('../assets/images/popup.png') no-repeat center center;
    background-size: cover;
    margin: auto {
        top : 60px;
        bottom : 60px;
    }

    &__form-group--format{
        width: 100%;
    }
    &__form-group-check-box--format{
        display: flex;
    }
   
    .product-item__link-btn {
        padding: 14px 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        @extend %font-roboto-medium;
        font-size: 16px;
        color: map.get($color,"white");
        margin: {
            bottom:20px;
            top: 10px !important;
        }
    }
    &__wrapper{
        text-align: center;
        padding: 80px 0;
        width: 85%;
        margin:auto;
    }
    &__btn-close{
        position: absolute;
        right:0%;
        top:0;
        font-size: 18px;
        color:map.get($color,"yellow");;
        background-color: #000000;
        padding: 10px 13px;
    }
    &__description, &__title{
        @extend %font-arial;
        font-size: 16px;
        color:map.get($color,"252525");
        line-height: 1.5;
    }
    &__title{
        @extend %font-myriad;
        @extend %text-uppercase;
        font-size: 30px;
        margin-bottom: 20px;
    }
    .register__input, .product-item__link-buy{
        height: 60px;
        width: 100%;
        margin-top: 0;
    }
    .register__input::placeholder, .register__lable-checkbox{
        @extend %font-arial;
        font-size: 14px;
        color: #636363;
        text-indent:16px;
        font-style: initial;
    }
    .register__lable-checkbox{
        text-indent: 0;
        color: map.get($color,"252525");
    }
    .register__form-info-user{
        gap:0;
        margin-top:30px;
    }
}
// end popup

@media(max-width: 768px){
    header .container{
        width: 100%;
    }
    .container{
        width: 90%;
    }
    body{
        overflow-x: hidden;
    }
    // start header
    .top{
        &__socials{
            display: none;
        }

        &__login{
            width: 100%;
            &-list{
                display: flex;
            }
            &-list-item{
                width: 50%;
                text-align: center;
            }
        }
    }
    .middle{
        height: max-content;
        padding: 10px 0 15px;
        &__hotline{
            display: none;
        }
        &__wrapper{
            flex-wrap: wrap;
            text-align: center;
        }
        &__logo{
            width: 100%;
        }
        &__input-search{
            width: 90%;
            margin-top:10px;
        }
        #{&}__search-bar{
            width: 100%;
            margin:auto;
        }
    }
    .menu{
        .sub-menu{
            display: none !important;
        }
        .menu__wrap:hover .menu__list{
            display: block;
            width: 100%;
            position: absolute;
            top:100%;
            z-index: 3;
            background-color: #202020;
            .menu__list-item{
                display: block;
                border: {
                    right: 0;
                    bottom: 1px solid #2f2f2f;
                };
            }
        } 
        &__list{
            display: none;
        }
        &__responsive{
            display: block !important;
            font-size: 18px;
            color: map.get($color,"white");
            padding: 24px 30px;
            border-right: 1px solid #2f2f2f;
        }
        &__cart-link{
            padding: 24px 30px;
        }
    }
    // end header
    .slider{
        flex-wrap: wrap;
        height: auto;
        &__left{
            width: 100%;
            height: 279px;
            .slider__wrapper{
                height: 100%;
                .slider__block{
                    height: 100%;
                    .slider__block-item{
                        display: block;
                        height: 100%;
                    }
                }
            }
        }
        &__right{
            width: 100%;
            border:1px solid map.get($color,"ebebeb");
            .slider__block{
                padding:30px 0;
                &:nth-child(2){
                    background-color: transparent;
                    & > i{
                        color: map.get($color,"yellow");;
                    }
                    .slider__block-title{
                        color:map.get($color,"text") !important;
                    }
                    .slider__block-description{
                        color: map.get($color,"898989");
                    }
                }
            }
        }
        &__img{
            height: 100%;
        }
        &__number-of-slider {
            bottom: 5%;
            transform: translate(-50%, -5%);
        }
        
    }
    // end slider

    .product-item{
        height: max-content;
        margin-top: 20px;
        &__price{
            margin-bottom: 10px;
        }
        &__link-btn{
            font-size: 12px;
            padding: 15px 25px;
        }
        &__rate{
            margin-top: 10px;
        }
    }
    .wrapper-icon-title:nth-child(n+2){
        display: none;
    }
    // start hot products
    .hot-products{
        margin-top: 30px !important;
        &__row-content{
            flex-wrap: wrap;
            margin-top:20px;
        }
        &__left{
            width: 100%;
        }
        
        &__right{
            width: 100%;
        }
    }
    .new-product{
        margin-top: 30px !important;
        &__category-tag{
            display: none;
        }
        &__row-content{
            flex-wrap: wrap;
            margin-top:0px;
        }
    }

    // start banner mid
    .banner-mid{
        flex-wrap: wrap;
        gap:30px;
        margin-top: 30px;
        &__link{
            width: 100%;
        }
        &__img{
            // object-fit: cover;
            width: 100%;
            height: auto;
        }
    }
    // end banner mid

    // start selling product
    .selling-product{
        margin-top: 30px !important;
        &__category-tag{
            display: none;
        }
        &__row-content{
            display: flex;
            flex-wrap: wrap;
            margin-top:0px;
        }
        &__left{
            width: 100%;
        }
        
        &__right{
            width: 100%;
        }
    }
    // end selling product

    .banner-three{
        margin-top: 30px !important;
        height: auto;

        &__img{
            width: 100%;
            height: auto;
        }
    }

    // start new available (hàng mới về)
    .new-available{
        margin-top: 30px !important;
        &__row-content{
            margin-top:0px;
        }
        .product-item{
            width: 100%;
            display: block;
            &:nth-child(n+2){
                display: none;
            }
        }
    }
    // end new available (hàng mới về)

    .brand{
        margin-top:30px;
        .brand__wrapper &__link:not(:nth-child(3)){
            display: none;
        }
        &__btn-left{
            left:0%;
        }
        &__btn-right{
            right:0%;
        }
        .brand__wrapper {
            justify-content: center;
        }
    }

    // start new letter
    .new-letter{
        height: auto;
        padding:20px 0;
        &__wrapper{
            width:100%;
        }
        input[type=email]{
            width: 90%;
        }
        input[type=submit]{
            width: 90%;
            margin-top:10px;
        }
        .new-letter__title {
            width: 70%;
            margin: 0 auto 25px auto;
        }
    }

    // start footer
    .footer{
        &-info{
            padding:0 0 30px 0 !important;
            &__top{
                flex-wrap: wrap;
            }
            &__block{
                width: 100% !important;
    
                .wrapper-icon-title{
                    display: flex;
                    padding:11px 0;
                }
                .wrapper-icon-title:first-child{
                    padding:30px 0 10px;
                }
                .wrapper-icon-title--format {
                    line-height: 1.5;
                }
            }
            &__bottom{
                flex-wrap: wrap;
            }
            #{&}__pay{
                width: 100%;
            }
            #{&}__contact{
                width: 100%;
                & > .footer-info__title{
                    padding:20px 0;
                }
            }
            #{&}__link{
                width: 40%;
                & > img{
                    width: 100%;
                }
            }
            #{&}__group-info-pay {
                display: flex;
                flex-wrap: wrap;
                justify-content: initial;
                gap: 10px;
            }
            #{&}__group-contact{
                position: initial;
                transform: none;
                .footer-info__block:first-child{
                    margin-bottom: 30px;
                }
            }

        }
        &-bottom-wrapper{
            flex-wrap: wrap;
        }
        &-bottom__coppy-right {
            width: 60%;
            margin: auto;
            text-align: center;
        }
        &-bottom__menu {
            margin: auto;
            margin-top: 20px;
            width: 75%;
            text-align: center;
        }
        &-bottom {
            height: auto;
            background-color: #252525;
            padding: 20px 0;
        }
        &-bottom__item {
            padding: 4px 8px;
        }
        &-bottom__title{
            line-height: 1.5;
        }
    }
    // end footer

    // start page detail
    .detail{
        &-right{
            &__list-tag{
                border-top:1px solid map.get($color,"ebebeb");
                display: flex;
            }
            &__item-tag{
                width: 33.3%;
                line-height: 1.5;
            }
        }
    }
    //end page detail

    //start page list
    .list{
        &-left{
            display: none;
        }
        &-right{
            width: 100%;
        }
    }
    //end page list
    
    //start page grid
    .grid-product--format{
        height: auto;
        row-gap: 0 !important;
        .product-item{
            width: 100% !important;
            height: auto !important;
            &:hover{
                height: max-content !important;
            }
        }
    }
    //end page grid

    // start blog
    .blog-list__block{
        margin:0;
        padding-bottom: 30px;
    }
    .blog-detail__share{
        padding-bottom: 30px;
        .blog-detail__title:first-child{
            display: none;
        }
        .blog-detail__list{
            display: none;
        }
        .blog-detail__list-share--format {
            margin-right: auto;
        }
    }
    // end blog

    // start login
    .login {
        flex-wrap: wrap;
        &__left{
            width: 100%;
        }
        &__right{
            width: 100%;
        }
        .product-item__link-btn{
            margin: 20px 0 40px 0;
        }
    }
    // end login
    // start table cart
    .table-product-cart{
        width: 100%;
        overflow-x: scroll;
        th, td{
            white-space: nowrap;
            padding-left:20px;
            padding-right:20px;
        }
    }
    .table-product-cart::-webkit-scrollbar{
        height: 4px;
        width: 4px;
        border-radius: 4px;
        background: map.get($color,"ebebeb");
    }
    .table-product-cart::-webkit-scrollbar-thumb:horizontal{
        background-color:map.get($color,"text");;
        border-radius: 10px;
    }
    table.total{
        width: 100% !important;
    }
    .shopping-cart__table{

        .product-item__group-btn{
            justify-content: space-between;
            align-items: baseline;
        }
        .product-item__link-buy{
            margin-right: 0 !important;
            text-align: center;
            margin-top:10px;
        }
        .product-item__link-btn {
            padding: 16px 10px;
            margin-left: 0; 
            width: 49%;
            border-radius: 30px;
            text-align: center;
        }

    }
    // end table cart
    .page-404{
        &__left{
            width: 100%;
            padding:60px 0;
        }
        &__right{
            display: none;
        }
    }
}


@media (max-width:576px){
    // start page detail
    .detail{
        &-left{
            display: none;
        }
        &-right{
            width: 100%;
            &__details{
                display: block;
            }
            &__left, &__right{
                width: 100%;
            }
            &__group{
                .detail-right__link-img{
                    width: 19%;
                }
                &-img{
                    width: 100%;
                    height: 100%;
                }
            }
           
           
        }
        .hot-products__row-content{
            margin-top:0px !important;
        }
        &-product--format{
            margin-bottom: 60px !important;
        }
       
    }
    // end page detail

    // start page list
    .list{
        &-left{
            display: none;
        }
        &-right{
            width: 100%;
            .list-top{
                &__sort-by:first-child{
                    display: none;
                }
            }
            .list-product--format .product-item{
                display: flex;
                flex-direction: column;
                &__wrapper{
                    padding:0 15px;
                }
            }
            .product-item__group-btn{
                padding-bottom: 30px !important;
            }
        }
    }
    // start page list
    .product-item{
        width: 100%;
        &:nth-child(n+2){
            display: none;
        }
    }

    //pagination
    .pagination{
        margin: 30px 0 60px 0;
        &__list{
            text-align: center;
        }
        &__item:not(&__item--format){
            display: none;
        }
    }

    // start blog
    .blog-list{
        &__img{
            height: auto;
        }
        &__group-info-blog{
            display: block;
            & .date-time:first-child{
                margin-bottom: 10px;
            }
            & .date-time:last-child{
                display: inline-block;
            } 
            & > .fa-user{
                margin-left: 0 !important;
            }
            .author{
                display: inline-block;
            }
        }
        &__content{
            text-align: justify;
        }
       

    }
    
    .blog-detail__avatar {
        width: 50px;
        height: 50px;
        border-radius: 30px;
    }
    .register__form-group{
        width: 100%;
    }
    .product-item__group-btn{
        padding:30px 0 60px 0 !important;
    }
    // end blog

    .popup{
        width: 100%;
    }
}

@media(min-width: 576px) and (max-width: 768px){
    
    // start page detail
    .detail{
        &-left{
            display: none;
        }
        &-right{
            width: 100%;
            &__left{
                width: 58%;
            }
            &__right{
                width: 40%;
            }
            &__buy-now{
                display: flex;
            }
            input.quality{
                width: 40%;
            }
            .product-item__link-buy{
                width: 58%;
                text-align: center;
            }
            &__share{
                & img{
                    width: 100%;
                }  
            }
            &__group{
                overflow-x: scroll;
                @include format-scroll;
                .detail-right__link-img {
                    padding: 0 2px;
                }
            }
        }
        
        .hot-products__row-content{
            margin-top:0px !important;
        }
        &-product--format{
            margin-bottom: 60px !important;
        }
       
    }
    // end page detail
    .container{
        width: 92%;
    }
    .banner-three{
        &__img{
            width: 100%;
            height: 100px;
        }
    }
    .product-item{
        width: 49%;
        &__price{
            margin-bottom: 10px;
        }
        &:nth-child(n+3){
            display: none;
        }
        &:hover{
            height: max-content;
        }
    }
    
    .selling-product  {
        .product-item{
            width: 49%;
        }
        .product-item__img {
            width: 100%;
        }
    }
    .grid-product--format {
        .product-item{
            width: 49% !important;
        }
        .product-item__img {
            width: 100%;
        }
    }
    // start footer
    .footer{
        @include footer-responsive;
       
    }
    .pagination {
        margin: 30px 0 60px 0;
    }
    .popup{
        width: 90% !important;
    }
}

@media(min-width: 769px) and (max-width: 992px){
    header .container{
        width: 100%;
    }
    .detail-right{
        width: 100%;
    }
    .container{
        width: 90%;
    }
    .middle{
        height: max-content;
        padding: 10px 0 15px;
        &__hotline{
            display: none;
        }
        &__wrapper{
            flex-wrap: wrap;
            text-align: center;
        }
        &__logo{
            width: 100%;
        }
        &__input-search{
            width: 90%;
            margin-top:10px;
        }
        #{&}__search-bar{
            width: 100%;
            margin:auto;
        }
    }   
    .menu{
        .sub-menu{
            display: none !important;
        }
        .menu__wrap:hover .menu__list{
            display: block;
            width: 100%;
            position: absolute;
            top:100%;
            z-index: 3;
            background-color: #202020;
            .menu__list-item{
                display: block;
                border: {
                    right: 0;
                    bottom: 1px solid #2f2f2f;
                };
            }
        } 
        &__list{
            display: none;
        }
        &__responsive{
            display: block !important;
            font-size: 18px;
            color: map.get($color,"white");
            padding: 24px 30px;
            border-right: 1px solid #2f2f2f;
        }
        &__cart-link{
            padding: 24px 30px;
        }
    }
    .slider{
        flex-wrap: wrap;
        height: auto;
        &__left{
            width: 100%;
            height: 350px;
            .slider__wrapper{
                height: 100%;
                .slider__block{
                    height: 100%;
                    .slider__block-item{
                        display: block;
                        height: 100%;
                    }
                }
            }
        }
        &__right{
            width: 100%;
            border:1px solid map.get($color,"ebebeb");
            .slider__block{
                padding:30px 0;
                &:nth-child(2){
                    background-color: transparent;
                    & > i{
                        color: map.get($color,"yellow");;
                    }
                    .slider__block-title{
                        color:map.get($color,"text") !important;
                    }
                    .slider__block-description{
                        color: map.get($color,"898989");
                    }
                }
            }
        }
        &__img{
            height: 100%;
        }
        &__number-of-slider {
            bottom: 5%;
            transform: translate(-50%, -5%);
        }
        
    }

    .hot-products{
        margin-top: 30px !important;
        &__row-content{
            flex-wrap: wrap;
            margin-top:20px;
        }
        &__left{
            display: none;
        }
        &__right{
            width: 100%;
            gap:10px;
        }
    }

    .new-product{
        margin-top: 30px !important;
        &__category-tag{
            display: none;
        }
        &__row-content{
            flex-wrap: wrap;
            margin-top:20px;
        }
        .product-item__img {
            width: 100%;
        }
    }
     // start banner mid
     .banner-mid{
        flex-wrap: wrap;
        gap:30px;
        margin-top: 30px;
        &__link{
            width: 100%;
        }
        &__img{
            // object-fit: cover;
            width: 100%;
            height: auto;
        }
    }
    // end banner mid
    // start selling product
    .selling-product{
        margin-top: 30px !important;
        &__category-tag{
            display: none;
        }
        &__row-content{
            grid-template-columns: 29% 19.5% 19.5% 29%;
            row-gap:1%;
        }
        .product-item__img {
            width: 100%;
        }
    }
    // end selling product
    .banner-three{
        margin-top: 30px !important;
        height: auto;
        &__img{
            width: 100%;
            height: auto;
        }
    }

     // start new available (hàng mới về)
     .new-available{
        margin-top: 30px !important;
        &__row-content{
            margin-top:20px;
        }
        .product-item{
            width: 48.5%;
            display: block;
        }
    }
    // end new available (hàng mới về)

    .brand{
        margin-top:30px;
        &__btn-left{
            left:0%;
        }
        &__btn-right{
            right:0%;
        }
        .brand__wrapper {
            justify-content: center;
        }
    }

    .new-letter{
        height: auto;
        padding:20px 0;
        &__wrapper{
            width:100%;
        }
        input[type=email]{
            width: 60%;
        }
        input[type=submit]{
            width: 60%;
            margin-top:10px;
        }
        .new-letter__title {
            width: 70%;
            margin: 0 auto 25px auto;
        }
    }

    .footer{
        @include footer-responsive;
    }
    // start page list product
    .list{
        &-left{
            display: none;
        }
        &-right{
            width: 100%;
        }
        .grid-product--format {
            .product-item{
                width: 32% !important;
                height: auto !important;
            }
            .product-item__img {
                width: 100%;
                height: auto !important;
            }
        }
    }
    // end page list product
    .pagination {
        margin: 30px 0 60px 0;
    }

    // start blog
    .blog-right{
       width: 100% !important;
    }
    // end blog

    // start cart
    .table-product-cart{
        width: 100%;
        overflow-x: scroll;
        th, td{
            white-space: nowrap;
            padding: {
                left: 20px;
                right:20px;
            }
        }
    }
    .shopping-cart table.total {
        width: 50%;
    }
    .shopping-cart__table{
        .table-product-cart{
            @include format-scroll;
        }
    }
    // endcart
    .page-404{
        &__left{
            width: 65%;
        }
        &__right{
            width: 35%;
            img{
                width: 100%;
            }
        }
    }
    
}

@media(min-width:993px) and (max-width:1200px){
    body{
        overflow-x: hidden;
    }
    .breadcumb--format{
        padding: 30px 25px !important;
    }
    .container{
        width: 98%;
        padding: 0 25px;
    }
    .middle{
        height: max-content;
        padding: 10px 0 15px;
        &__hotline{
            display: none;
        }
        
    }  
    .new-product{
        .product-item__img{
            width: 100%;
        }
    }
    // start new available (hàng mới về)
    .new-available{
        .product-item{
            width: 48.5%;
            display: block;
        }
        
    }
    .selling-product{
        .product-item__img{
            width: 100%;
        }
    }
    .brand{
        margin-top: 60px;
        .container{
            width: 88% !important;
        }
        &__btn-left {
            left: -5%;
        }
        &__btn-right {
            right: -5%;
        }
    }
    // end new available (hàng mới về)
    .footer{
        @include footer-responsive;
    }
}
@media(min-width:1920px){
    .container{
        width: 60%;
    }
    
}

