include ../variables/home.pug
footer.footer
    .footer-info
        .container
            .footer-info__top
                .footer-info__block
                    +icon-title("về chúng tôi")(class="footer-info-title--format")
                    +icon-title(value_footer_info, 'disable')(class="wrapper-icon-title--format")
                    each value in value_footer_info2
                        +icon-title(value.title, '', value.icon)(class="wrapper-icon-title--format")
                   
                .footer-info__block
                    +icon-title("chính sách")(class="footer-info-title--format")
                    each value in value_footer_info5
                        +icon-title(value, 'disable')(class="wrapper-icon-title--format")
                .footer-info__block
                    +icon-title("Dịch vụ & hỗ trợ")(class="footer-info-title--format")
                    each value in value_footer_info10
                        +icon-title(value, 'disable')(class="wrapper-icon-title--format")
                .footer-info__block
                    +icon-title("Tin tức - sự kiện")(class="footer-info-title--format")
                    each value in value_footer_info15
                        +icon-title(value, 'disable')(class="wrapper-icon-title--format")
                .footer-info__block
                    +icon-title("Kết nối")(class="footer-info-title--format")
                    each value in value_footer_info20
                        +icon-title(value.title, '', value.icon)(class="wrapper-icon-title--format")
            .footer-info__bottom
                .footer-info__pay
                    p.footer-info__title Thanh toán:
                    .footer-info__group-info-pay
                        each value in value_info_pay
                            +group-pay-info(value)
                       
                .footer-info__contact
                    p.footer-info__title Giải đáp nhanh:
                    .footer-info__group-contact
                        +block-contact(value_footer_contact)
                        +block-contact(value_footer_contact2)
    .footer-bottom
        .container.footer-bottom-wrapper
            .footer-bottom__coppy-right
                p.footer-bottom__title.
                    Bản quyền thuộc về #[span.marker Design Team]. Phát triển bởi #[span.marker Bizweb].
            .footer-bottom__menu
                ul.footer-bottom__list
                    each value in value_footer_menu
                        li.footer-bottom__item 
                            a(href="" class="footer-bottom__link")= value