meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
title Project 1
//- link fontawesome icon
link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")

//- link css
link(rel="stylesheet", href="./../../styles/custom.css")