extend ../index.pug 

block shopping-cart
    section.shopping-cart.container
        // start breadcrum
        section.breadcumb.breadcumb--format
            p.breadcumb__title Trang chủ
            <i class="fas fa-caret-right"></i>
            p.breadcumb__subt-title Giỏ Hàng
        include ../variables/list.pug
        include ../mixins/common.pug

        //start cart
        section.shopping-cart__table
            .table-product-cart
                table
                    thead
                        th STT
                        th SẢN PHẨM
                        th thông tin
                        th đơn giá
                        th số lượng
                        th thành tiền 
                        th xóa
                    tbody
                        +shopping-cart(shopping_cart)
            table.total
                tr
                    td Tổng Tiền:
                    td 6.850.000 Đ
                tr
                    td Thế (VAT):
                    td 6850.000 Đ
                tr
                    td Thanh Toán:
                    td.total-pay 7.520.000 Đ
            .product-item__group-btn
                a(href="" class="product-item__link-detail product-item__link-btn") Tiếp tục mua hàng         
                a(href="" class="product-item__link-buy product-item__link-btn") Thanh toán