extends ./list_grid.pug

block grid-product
    .hot-products__right.grid-product--format
        +product-item(value_products)
        +product-item(value_products2)
        +product-item(value_products3)
        +product-item(value_products4)
        +product-item(value_products5)
        +product-item(value_products6)
        +product-item(value_products)
        +product-item(value_products2)
        +product-item(value_products3)
        +product-item(value_products4)
        +product-item(value_products5)
        +product-item(value_products6)
        +product-item(value_products)
        +product-item(value_products2)
        +product-item(value_products3)
        +product-item(value_products4)
        +product-item(value_products5)
        +product-item(value_products6)
    