extend ./list_grid.pug

block list-product
    .new-available__row-content.list-product--format
        +product-item(list_item)
        +product-item(list_item2)
        +product-item(list_item3)
        +product-item(list_item4)
        +product-item(list_item5)
        +product-item(list_item6)
        +product-item(list_item7)
        +product-item(list_item8)
        +product-item(list_item9)
    