extend ../index.pug 

block page-404
    section.page-404.container
        .page-404__left
            p.page-404__title 404 error
            p.page-404__description Chúng tôi không tìm thấy kết quả nào phù hợp với tìm kiếm của bạn ! Xin vui lòng trở về trang chủ
            a(href="" class="product-item__link-detail product-item__link-btn") Trang chủ
        .page-404__right
            img(src="../../assets/images/page-404.png", alt="")