- var icons = ['<i class="fab fa-facebook-f"></i>', '<i class="fab fa-google-plus-g"></i>','<i class="fab fa-instagram"></i>', '<i class="fab fa-twitter"></i>'] 


- var val_drop_down = { "title" : 'MÁY KHOAN BLACK  DECKER', 'quality': '1', 'price' : '1.200.000', "img": '../../assets/images/maykhoan1.png'}
- var val_drop_down2 = { "title" : 'MÁY KHOAN BLACK  DECKER', 'quality': '1', 'price' : '1.200.000', "img": '../../assets/images/drop-down-2.png'}
- var val_drop_down3 = { "title" : 'MÁY KHOAN BLACK  DECKER', 'quality': '1', 'price' : '1.200.000', "img": '../../assets/images/drop-down-3.png'}



// hot product
- var value_hot_products = ["Máy khoan, máy cắt CNC", 'Máy in phun cỡ lớn', 'Máy quét Canon 3D', 'Máy hàn điện Alunima', 'Máy khoan Decameta', 'Máy phay đa năng CNC', 'Máy mài, tiện DC 12V','Máy khoan, cắt CNC', 'Máy quay thông minh N3', 'Motor R34C đa dụng', 'Máy in laser màu 3D']

- var value_products = {"img" : '../../assets/images/hot-pro-1.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12', 'status' : true}
- var value_products2 = {"img" : '../../assets/images/hot-pro-2.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12', 'status' : true}
- var value_products3 = {"img" : '../../assets/images/hot-pro-3.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12', 'status' : true}
- var value_products4 = {"img" : '../../assets/images/hot-pro-4.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12', 'status' : true}
- var value_products5 = {"img" : '../../assets/images/hot-pro-5.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12', 'status' : true}
- var value_products6 = {"img" : '../../assets/images/hot-pro-6.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12', 'status' : true}



// new product
- var category_tag = ["Máy khoan", 'Máy in 3D', 'Máy CNC', 'Máy tiện', 'Máy khắc']

- var value_new_product = {"img" : '../../assets/images/new-pro-1.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12', 'status' : true}
- var value_new_product2 = {"img" : '../../assets/images/new-pro-2.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12', 'status' : true}
- var value_new_product3 = {"img" : '../../assets/images/new-pro-3.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12', 'status' : true}



// selling product
- var sell_products2 = {"img" : '../../assets/images/sell-product.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12','status' : false}
- var sell_products3 = {"img" : '../../assets/images/hot-pro-3.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12','status' : false}
- var sell_products4 = {"img" : '../../assets/images/hot-pro-4.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12','status' : false}
- var sell_products5 = {"img" : '../../assets/images/hot-pro-5.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12','status' : false}
- var sell_products6 = {"img" : '../../assets/images/hot-pro-6.png',"price" : '1.500.000 Đ', 'title' : "máy khoan black decker", 'command': '12' ,'status' : false}



// new available
- var new_available = {"img" : '../../assets/images/sp-moi-ve1.png',"price" : '2.350.000 Đ', 'title' : "máy khoan CNC 3D", 'command': '12' ,'status' : true, 'description' : 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment...'}
- var new_available2 = {"img" : '../../assets/images/hot-pro-3.png',"price" : '2.350.000 Đ', 'title' : "máy khoan CNC 3D", 'command': '12' ,'status' : true, 'description' : 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment...'}
- var new_available3 = {"img" : '../../assets/images/hot-pro-2.png',"price" : '2.350.000 Đ', 'title' : "máy khoan CNC 3D", 'command': '12' ,'status' : true, 'description' : 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment...'}
- var new_available4 = {"img" : '../../assets/images/new-avai-1.png',"price" : '2.350.000 Đ', 'title' : "máy khoan CNC 3D", 'command': '12' ,'status' : true, 'description' : 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment...'}



// footer
- var value_footer_info = "Công ty cổ phần công nghệ DKT đã và đang khằng định được vị trí hàng đầu trong lĩnh vực Thương mại điện tử"
- var value_footer_info2 = [{'title':"Tầng 4 - tòa nhà Hanoi group 442 Đội Cấn Ba Đình - Hà Nội", 'icon' : '<i class="fas fa-map-marker-alt"></i>'}, {'title':"support@dkt.com.vn", 'icon' : '<i class="fas fa-envelope"></i>'},  {'title':"(84-4) 66558868  -  (84-4) 37868904", 'icon' : '<i class="fas fa-mobile-alt"></i>'}]
- var value_footer_info5 = ["chính sách giao hàng", "chính sách đổi sản phẩm", "chính sách bảo hành", "chính sách trả góp", "giới thiệu hàng đổi trả", "vận chuyển miễn phí" ]
- var value_footer_info10 = ["hệ thống cửa hàng", "hướng dẫn mua hàng", "hướng dẫn thanh toán", "tích điểm đổi thưởng", "dịch vụ đổi trả hàng", "câu hỏi thường gặp"]
- var value_footer_info15 = ["tin tức mới nhất", "tin tức khuyến mãi", "tuyển dụng đãi ngộ", "download tài liệu", "chường trình đối tác", "nhà phát triển ứng dụng"]
- var value_footer_info20 = [{'title':"facebook", 'icon' : '<i class="fab fa-facebook-f"></i>'}, {'title':"twitter", 'icon' : '<i class="fab fa-twitter"></i>'},  {'title':"google", 'icon' : '<i class="fab fa-google-plus-g"></i>'}, {'title':"skype", 'icon' : '<i class="fab fa-skype"></i>'}, {'title':"instagram", 'icon' : '<i class="fab fa-instagram"></i>'}]


- value_info_pay = ["../../assets/images/pay-1.png","../../assets/images/pay-2.png","../../assets/images/pay-3.png","../../assets/images/pay-4.png","../../assets/images/pay-5.png","../../assets/images/pay-6.png","../../assets/images/pay-7.png","../../assets/images/pay-8.png"]

- value_footer_contact ={'title' : 'Tư vấn miễn phí(24/7)', 'phone' : '1900 650 650'}
- value_footer_contact2 ={'title' : 'Góp ý - phản hồi - thắc mắc', 'phone' : '1900 650 650'}


- var value_footer_menu = ["Trang chủ", 'Giới thiệu', 'Sản phẩm', 'Tin khuyến mãi', 'Dịch vụ', 'Liên hệ']