<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 1</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="./../../styles/custom.css">
  </head>
  <body>
    <!-- menu drop down-->
    <!-- list item in submenu -->
    <!-- submenu-->
    <!-- submenu-->
    <!-- icon before title (exm: sản phẩm bán chay...)-->
    <!-- block item product have price, image, title, command of product-->
    <!-- footer-->
    <!-- hot product-->
    <!-- new product-->
    <!-- selling product-->
    <!-- new available-->
    <!-- footer-->
    <header>
      <div class="top">
        <div class="container top__wrapper">
          <div class="top__socials">
            <ul class="top__socials-list">
                  <li class="top__socials-list-item"><a class="top__socials-list-link" href=""><i class="fab fa-facebook-f"></i></a></li>
                  <li class="top__socials-list-item"><a class="top__socials-list-link" href=""><i class="fab fa-google-plus-g"></i></a></li>
                  <li class="top__socials-list-item"><a class="top__socials-list-link" href=""><i class="fab fa-instagram"></i></a></li>
                  <li class="top__socials-list-item"><a class="top__socials-list-link" href=""><i class="fab fa-twitter"></i></a></li>
            </ul>
          </div>
          <div class="top__login">
            <ul class="top__login-list">
              <li class="top__login-list-item"><a class="top__login-list-link" href="../../layouts/register.html">đăng kí</a></li>
              <li class="top__login-list-item"><a class="top__login-list-link" href="../../layouts/login.html">đăng nhập</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end header top-->
      <!-- start header middle (logo + hotline +  search)-->
      <section class="middle">
        <div class="container middle__wrapper">
          <div class="middle__logo">
            <h1><a class="logo__link" href="../../layouts/home.html"> <img class="middle__logo-img" src="../../assets/images/Logo.png" alt="logo"></a></h1>
          </div>
          <div class="middle__hotline">
            <div class="middle__hotline-hotline">
              <p class="middle__hotline-title">hotline :</p>
              <p class="middle__hotline-phone">(04) 9500 9650 - (04) 9500 8850</p>
            </div>
            <div class="middle__hotline-order">
              <p class="middle__hotline-title">đặt hàng nhanh :</p>
              <p class="middle__hotline-phone">(04) 9500 9650 - (04) 9500 8850</p>
            </div>
          </div>
          <div class="middle__search-bar">
            <input class="middle__input-search" type="text" placeholder="Tìm kiếm...">
          </div>
        </div>
      </section>
      <!-- end header middle (logo + hotline +  search)-->
      <!-- start menu-->
      <section class="menu">
        <nav class="container menu__wrapper">
          <div class="menu__wrap"><a class="menu__responsive menu__responsive--disable" href=""><i class="fas fa-bars"></i></a>
            <ul class="menu__list">
              <li class="menu__list-item menu__list-item--hover menu__list-mega-menu"><a class="menu__list-link" href="../../layouts/home.html">trang chủ</a>
                <ul class="sub-menu mega-menu mega-menu--disable">
                  <li class="sub-menu__block">
                    <ul class="sub-menu__list">
                      <li class="sub-menu__list-title"></li>
                          <div class="wrapper-icon-title">
                            <ul class="icon--format wrapper-icon-title__list">
                              <li class="wrapper-icon-title__item">.</li>
                              <li class="wrapper-icon-title__item">.</li>
                              <li class="wrapper-icon-title__item">.</li>
                              <li class="wrapper-icon-title__item">.</li>
                            </ul><a class="icon--format wrapper-icon-title__link" href="">MÁY Khoan đa năng cnc</a>
                          </div>
                          <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy khoan CNC điện </a></li>
                          <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy phay đa năng 3R</a></li>
                          <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy hàn, cắt kim loại</a></li>
                          <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy in phun tích điện</a></li>
                          <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy ép gỗ chuẩn Nano</a></li>
                    </ul>
                  </li>
                  <li class="sub-menu__block">
                    <ul class="sub-menu__list">
                      <li class="sub-menu__list-title"></li>
                          <div class="wrapper-icon-title">
                            <ul class="icon--format wrapper-icon-title__list">
                              <li class="wrapper-icon-title__item">.</li>
                              <li class="wrapper-icon-title__item">.</li>
                              <li class="wrapper-icon-title__item">.</li>
                              <li class="wrapper-icon-title__item">.</li>
                            </ul><a class="icon--format wrapper-icon-title__link" href="">MÁY cắt plasmar</a>
                          </div>
                          <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy khoan CNC điện </a></li>
                          <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy phay đa năng 3R</a></li>
                          <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy hàn, cắt kim loại</a></li>
                          <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy in phun tích điện</a></li>
                          <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy ép gỗ chuẩn Nano</a></li>
                    </ul>
                  </li>
                  <li class="sub-menu__block">
                    <ul class="sub-menu__list">
                      <li class="sub-menu__list-title"></li>
                          <div class="wrapper-icon-title">
                            <ul class="icon--format wrapper-icon-title__list">
                              <li class="wrapper-icon-title__item">.</li>
                              <li class="wrapper-icon-title__item">.</li>
                              <li class="wrapper-icon-title__item">.</li>
                              <li class="wrapper-icon-title__item">.</li>
                            </ul><a class="icon--format wrapper-icon-title__link" href="">MÁY phay công nghiệp</a>
                          </div>
                          <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy khoan CNC điện </a></li>
                          <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy phay đa năng 3R</a></li>
                          <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy hàn, cắt kim loại</a></li>
                          <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy in phun tích điện</a></li>
                          <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy ép gỗ chuẩn Nano</a></li>
                    </ul>
                  </li>
                  <li class="sub-menu__block">
                    <ul class="sub-menu__list">
                      <li class="sub-menu__list-title"></li>
                          <div class="wrapper-icon-title">
                            <ul class="icon--format wrapper-icon-title__list">
                              <li class="wrapper-icon-title__item">.</li>
                              <li class="wrapper-icon-title__item">.</li>
                              <li class="wrapper-icon-title__item">.</li>
                              <li class="wrapper-icon-title__item">.</li>
                            </ul><a class="icon--format wrapper-icon-title__link" href="">MÁY ép nhựa thủ công</a>
                          </div>
                          <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy khoan CNC điện </a></li>
                          <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy phay đa năng 3R</a></li>
                          <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy hàn, cắt kim loại</a></li>
                          <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy in phun tích điện</a></li>
                    </ul>
                  </li>
                  <li class="sub-menu__block">
                    <ul class="sub-menu__list">
                      <li class="sub-menu__list-title"></li>
                          <div class="wrapper-icon-title">
                            <ul class="icon--format wrapper-icon-title__list">
                              <li class="wrapper-icon-title__item">.</li>
                              <li class="wrapper-icon-title__item">.</li>
                              <li class="wrapper-icon-title__item">.</li>
                              <li class="wrapper-icon-title__item">.</li>
                            </ul><a class="icon--format wrapper-icon-title__link" href="">MÁY uống tôn điện</a>
                          </div>
                          <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy khoan CNC điện </a></li>
                          <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy phay đa năng 3R</a></li>
                          <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy hàn, cắt kim loại</a></li>
                          <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy in phun tích điện</a></li>
                    </ul>
                  </li>
                  <li class="sub-menu__block">
                    <ul class="sub-menu__list">
                      <li class="sub-menu__list-title"></li>
                          <div class="wrapper-icon-title">
                            <ul class="icon--format wrapper-icon-title__list">
                              <li class="wrapper-icon-title__item">.</li>
                              <li class="wrapper-icon-title__item">.</li>
                              <li class="wrapper-icon-title__item">.</li>
                              <li class="wrapper-icon-title__item">.</li>
                            </ul><a class="icon--format wrapper-icon-title__link" href="">MÁY nén khí cnc</a>
                          </div>
                          <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy khoan CNC điện </a></li>
                          <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy phay đa năng 3R</a></li>
                          <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy hàn, cắt kim loại</a></li>
                          <li class="sub-menu__list-item mega-menu__item--format"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Máy in phun tích điện</a></li>
                    </ul>
                  </li>
                  <li class="sub-menu__block-img"><img src="../../assets/images/img-mega.png" alt=""></li>
                </ul>
              </li>
              <li class="menu__list-item menu__list-item--hover"><a class="menu__list-link" href="../../layouts/popup.html">giới thiệu </a>
                    <ul class="sub-menu sub-menu--disable">
                          <li class="sub-menu__list-item menu__list-item--hover"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Giới thiệu chung</a></li>
                      <li class="sub-menu__list-item menu__list-item--hover"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Hệ thống cửa hàng</a>
                            <ul class="sub-menu sub-menu--format sub-menu--disable">
                                  <li class="sub-menu__list-item menu__list-item--hover"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Hệ thống cửa hàng A</a></li>
                                  <li class="sub-menu__list-item menu__list-item--hover"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Hệ thống cửa hàng A1</a></li>
                                  <li class="sub-menu__list-item menu__list-item--hover"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Hệ thống cửa hàng A2</a></li>
                                  <li class="sub-menu__list-item menu__list-item--hover"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Hệ thống cửa hàng A3</a></li>
                            </ul>
                      </li>
                          <li class="sub-menu__list-item menu__list-item--hover"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Chính sách ưu đãi</a></li>
                          <li class="sub-menu__list-item menu__list-item--hover"><i class="fas fa-caret-right"></i><a class="sub-menu__list-link menu__list-link" href="">Thông tin tuyển dụng</a></li>
                    </ul>
              </li>
              <li class="menu__list-item"><a class="menu__list-link" href="../../layouts/list.html">sản phẩm</a></li>
              <li class="menu__list-item"><a class="menu__list-link" href="../../layouts/grid.html">tin khuyến mãi</a></li>
              <li class="menu__list-item"><a class="menu__list-link" href="../../layouts/blog.html">dịch vụ</a></li>
              <li class="menu__list-item"><a class="menu__list-link" href="../../layouts/page_404.html">liên hệ</a></li>
            </ul>
          </div>
          <div class="menu__cart"><a class="menu__cart-link" href="../../layouts/cart.html"><i class="fas fa-shopping-cart"></i><small class="menu__cart-number">0</small></a>
            <div class="menu__cart-drop-down menu__cart-drop-down--disable">
                  <div class="block"><img class="block__img" src="../../assets/images/maykhoan1.png" alt="img">
                    <div class="content">
                      <h3 class="block__title">MÁY KHOAN BLACK  DECKER</h3>
                      <p class="block__quality">1 x</p>
                      <p class="block__price">1.200.000 Đ</p>
                    </div>
                    <div class="block__icon-close"><a class="block__icon-link" href=""><i class="fas fa-times"></i></a></div>
                  </div>
                  <div class="block"><img class="block__img" src="../../assets/images/drop-down-2.png" alt="img">
                    <div class="content">
                      <h3 class="block__title">MÁY KHOAN BLACK  DECKER</h3>
                      <p class="block__quality">1 x</p>
                      <p class="block__price">1.200.000 Đ</p>
                    </div>
                    <div class="block__icon-close"><a class="block__icon-link" href=""><i class="fas fa-times"></i></a></div>
                  </div>
                  <div class="block"><img class="block__img" src="../../assets/images/drop-down-3.png" alt="img">
                    <div class="content">
                      <h3 class="block__title">MÁY KHOAN BLACK  DECKER</h3>
                      <p class="block__quality">1 x</p>
                      <p class="block__price">1.200.000 Đ</p>
                    </div>
                    <div class="block__icon-close"><a class="block__icon-link" href=""><i class="fas fa-times"></i></a></div>
                  </div>
              <div class="menu__total">
                <p class="menu__total-money">tổng tiền: </p>
                <p class="menu__total-price">4.500.000 Đ</p><a class="menu__total-pay" href="">thanh toán</a>
              </div>
            </div>
          </div>
        </nav>
      </section>
      <!-- end menu-->
    </header>
    <!-- start breadcrum-->
    <section class="breadcumb container breadcumb--format">
      <p class="breadcumb__title">Trang chủ</p><i class="fas fa-caret-right"></i>
      <p class="breadcumb__subt-title">Đăng kí</p>
    </section>
    <!-- end breadcrum-->
    <section class="register container">
      <p class="register__title">THÔNG TIN CÁ NHÂN:</p>
      <form class="register__form-info-user" action="">
        <div class="register__form-group">
          <label class="register__lable-input" for="name">Họ và tên:</label><span class="register__maker">*</span> 
          <input class="register__input" type="text" id="name">
        </div>
        <div class="register__form-group">
          <label class="register__lable-input" for="name">Email:</label><span class="register__maker">*</span> 
          <input class="register__input" type="text" id="name">
        </div>
        <div class="register__form-group">
          <label class="register__lable-input" for="name">Số điện thoại:</label><span class="register__maker">*</span> 
          <input class="register__input" type="text" id="name">
        </div>
        <div class="register__form-group">
          <label class="register__lable-input" for="name">Địa chỉ:</label><span class="register__maker">*</span> 
          <input class="register__input" type="text" id="name">
        </div>
        <div class="register__form-group">
          <input class="register_checkbox" type="checkbox">
          <label class="register__lable-checkbox" for="">Đăng kí nhận tin tức qua email</label>
        </div>
      </form>
      <p class="register__title">THÔNG TIN ĐĂNG NHẬP:</p>
      <form class="register__form-info-user" action="">
        <div class="register__form-group">
          <label class="register__lable-input" for="name">Họ và tên:</label><span class="register__maker">*</span> 
          <input class="register__input" type="text" id="name">
        </div>
        <div class="register__form-group">
          <label class="register__lable-input" for="name">Email:</label><span class="register__maker">*</span> 
          <input class="register__input" type="text" id="name">
        </div>
      </form>
      <div class="product-item__group-btn"><a class="product-item__link-detail product-item__link-btn" href="">QUAY LẠI         </a><a class="product-item__link-buy product-item__link-btn" href="">ĐĂNG KÍ</a></div>
    </section>
    <!-- hot product-->
    <!-- new product-->
    <!-- selling product-->
    <!-- new available-->
    <!-- footer-->
    <footer class="footer">
      <div class="footer-info">
        <div class="container">
          <div class="footer-info__top">
            <div class="footer-info__block">
                  <div class="wrapper-icon-title">
                    <ul class="footer-info-title--format wrapper-icon-title__list">
                      <li class="wrapper-icon-title__item">.</li>
                      <li class="wrapper-icon-title__item">.</li>
                      <li class="wrapper-icon-title__item">.</li>
                      <li class="wrapper-icon-title__item">.</li>
                    </ul><a class="footer-info-title--format wrapper-icon-title__link" href="">về chúng tôi</a>
                  </div>
                  <div class="wrapper-icon-title"><a class="wrapper-icon-title--format wrapper-icon-title__link" href="">Công ty cổ phần công nghệ DKT đã và đang khằng định được vị trí hàng đầu trong lĩnh vực Thương mại điện tử</a></div>
                  <div class="wrapper-icon-title">
                    <div class="wrapper-icon-title__list wrapper-icon-title--format"><i class="fas fa-map-marker-alt"></i></div><a class="wrapper-icon-title--format wrapper-icon-title__link" href="">Tầng 4 - tòa nhà Hanoi group 442 Đội Cấn Ba Đình - Hà Nội</a>
                  </div>
                  <div class="wrapper-icon-title">
                    <div class="wrapper-icon-title__list wrapper-icon-title--format"><i class="fas fa-envelope"></i></div><a class="wrapper-icon-title--format wrapper-icon-title__link" href="">support@dkt.com.vn</a>
                  </div>
                  <div class="wrapper-icon-title">
                    <div class="wrapper-icon-title__list wrapper-icon-title--format"><i class="fas fa-mobile-alt"></i></div><a class="wrapper-icon-title--format wrapper-icon-title__link" href="">(84-4) 66558868  -  (84-4) 37868904</a>
                  </div>
            </div>
            <div class="footer-info__block">
                  <div class="wrapper-icon-title">
                    <ul class="footer-info-title--format wrapper-icon-title__list">
                      <li class="wrapper-icon-title__item">.</li>
                      <li class="wrapper-icon-title__item">.</li>
                      <li class="wrapper-icon-title__item">.</li>
                      <li class="wrapper-icon-title__item">.</li>
                    </ul><a class="footer-info-title--format wrapper-icon-title__link" href="">chính sách</a>
                  </div>
                  <div class="wrapper-icon-title"><a class="wrapper-icon-title--format wrapper-icon-title__link" href="">chính sách giao hàng</a></div>
                  <div class="wrapper-icon-title"><a class="wrapper-icon-title--format wrapper-icon-title__link" href="">chính sách đổi sản phẩm</a></div>
                  <div class="wrapper-icon-title"><a class="wrapper-icon-title--format wrapper-icon-title__link" href="">chính sách bảo hành</a></div>
                  <div class="wrapper-icon-title"><a class="wrapper-icon-title--format wrapper-icon-title__link" href="">chính sách trả góp</a></div>
                  <div class="wrapper-icon-title"><a class="wrapper-icon-title--format wrapper-icon-title__link" href="">giới thiệu hàng đổi trả</a></div>
                  <div class="wrapper-icon-title"><a class="wrapper-icon-title--format wrapper-icon-title__link" href="">vận chuyển miễn phí</a></div>
            </div>
            <div class="footer-info__block">
                  <div class="wrapper-icon-title">
                    <ul class="footer-info-title--format wrapper-icon-title__list">
                      <li class="wrapper-icon-title__item">.</li>
                      <li class="wrapper-icon-title__item">.</li>
                      <li class="wrapper-icon-title__item">.</li>
                      <li class="wrapper-icon-title__item">.</li>
                    </ul><a class="footer-info-title--format wrapper-icon-title__link" href="">Dịch vụ &amp; hỗ trợ</a>
                  </div>
                  <div class="wrapper-icon-title"><a class="wrapper-icon-title--format wrapper-icon-title__link" href="">hệ thống cửa hàng</a></div>
                  <div class="wrapper-icon-title"><a class="wrapper-icon-title--format wrapper-icon-title__link" href="">hướng dẫn mua hàng</a></div>
                  <div class="wrapper-icon-title"><a class="wrapper-icon-title--format wrapper-icon-title__link" href="">hướng dẫn thanh toán</a></div>
                  <div class="wrapper-icon-title"><a class="wrapper-icon-title--format wrapper-icon-title__link" href="">tích điểm đổi thưởng</a></div>
                  <div class="wrapper-icon-title"><a class="wrapper-icon-title--format wrapper-icon-title__link" href="">dịch vụ đổi trả hàng</a></div>
                  <div class="wrapper-icon-title"><a class="wrapper-icon-title--format wrapper-icon-title__link" href="">câu hỏi thường gặp</a></div>
            </div>
            <div class="footer-info__block">
                  <div class="wrapper-icon-title">
                    <ul class="footer-info-title--format wrapper-icon-title__list">
                      <li class="wrapper-icon-title__item">.</li>
                      <li class="wrapper-icon-title__item">.</li>
                      <li class="wrapper-icon-title__item">.</li>
                      <li class="wrapper-icon-title__item">.</li>
                    </ul><a class="footer-info-title--format wrapper-icon-title__link" href="">Tin tức - sự kiện</a>
                  </div>
                  <div class="wrapper-icon-title"><a class="wrapper-icon-title--format wrapper-icon-title__link" href="">tin tức mới nhất</a></div>
                  <div class="wrapper-icon-title"><a class="wrapper-icon-title--format wrapper-icon-title__link" href="">tin tức khuyến mãi</a></div>
                  <div class="wrapper-icon-title"><a class="wrapper-icon-title--format wrapper-icon-title__link" href="">tuyển dụng đãi ngộ</a></div>
                  <div class="wrapper-icon-title"><a class="wrapper-icon-title--format wrapper-icon-title__link" href="">download tài liệu</a></div>
                  <div class="wrapper-icon-title"><a class="wrapper-icon-title--format wrapper-icon-title__link" href="">chường trình đối tác</a></div>
                  <div class="wrapper-icon-title"><a class="wrapper-icon-title--format wrapper-icon-title__link" href="">nhà phát triển ứng dụng</a></div>
            </div>
            <div class="footer-info__block">
                  <div class="wrapper-icon-title">
                    <ul class="footer-info-title--format wrapper-icon-title__list">
                      <li class="wrapper-icon-title__item">.</li>
                      <li class="wrapper-icon-title__item">.</li>
                      <li class="wrapper-icon-title__item">.</li>
                      <li class="wrapper-icon-title__item">.</li>
                    </ul><a class="footer-info-title--format wrapper-icon-title__link" href="">Kết nối</a>
                  </div>
                  <div class="wrapper-icon-title">
                    <div class="wrapper-icon-title__list wrapper-icon-title--format"><i class="fab fa-facebook-f"></i></div><a class="wrapper-icon-title--format wrapper-icon-title__link" href="">facebook</a>
                  </div>
                  <div class="wrapper-icon-title">
                    <div class="wrapper-icon-title__list wrapper-icon-title--format"><i class="fab fa-twitter"></i></div><a class="wrapper-icon-title--format wrapper-icon-title__link" href="">twitter</a>
                  </div>
                  <div class="wrapper-icon-title">
                    <div class="wrapper-icon-title__list wrapper-icon-title--format"><i class="fab fa-google-plus-g"></i></div><a class="wrapper-icon-title--format wrapper-icon-title__link" href="">google</a>
                  </div>
                  <div class="wrapper-icon-title">
                    <div class="wrapper-icon-title__list wrapper-icon-title--format"><i class="fab fa-skype"></i></div><a class="wrapper-icon-title--format wrapper-icon-title__link" href="">skype</a>
                  </div>
                  <div class="wrapper-icon-title">
                    <div class="wrapper-icon-title__list wrapper-icon-title--format"><i class="fab fa-instagram"></i></div><a class="wrapper-icon-title--format wrapper-icon-title__link" href="">instagram</a>
                  </div>
            </div>
          </div>
          <div class="footer-info__bottom">
            <div class="footer-info__pay">
              <p class="footer-info__title">Thanh toán:</p>
              <div class="footer-info__group-info-pay"><a class="footer-info__link" href=""><img src="../../assets/images/pay-1.png" alt="pay info"></a><a class="footer-info__link" href=""><img src="../../assets/images/pay-2.png" alt="pay info"></a><a class="footer-info__link" href=""><img src="../../assets/images/pay-3.png" alt="pay info"></a><a class="footer-info__link" href=""><img src="../../assets/images/pay-4.png" alt="pay info"></a><a class="footer-info__link" href=""><img src="../../assets/images/pay-5.png" alt="pay info"></a><a class="footer-info__link" href=""><img src="../../assets/images/pay-6.png" alt="pay info"></a><a class="footer-info__link" href=""><img src="../../assets/images/pay-7.png" alt="pay info"></a><a class="footer-info__link" href=""><img src="../../assets/images/pay-8.png" alt="pay info"></a>
              </div>
            </div>
            <div class="footer-info__contact">
              <p class="footer-info__title">Giải đáp nhanh:</p>
              <div class="footer-info__group-contact">
                    <div class="footer-info__block"><i class="fas fa-phone"></i>
                      <div class="footer-info__content">
                        <p class="footer-info__title">Tư vấn miễn phí(24/7)</p>
                        <p class="footer-info__hotline">1900 650 650</p>
                      </div>
                    </div>
                    <div class="footer-info__block"><i class="fas fa-phone"></i>
                      <div class="footer-info__content">
                        <p class="footer-info__title">Góp ý - phản hồi - thắc mắc</p>
                        <p class="footer-info__hotline">1900 650 650</p>
                      </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container footer-bottom-wrapper">
          <div class="footer-bottom__coppy-right">
            <p class="footer-bottom__title">Bản quyền thuộc về <span class="marker">Design Team</span>. Phát triển bởi <span class="marker">Bizweb</span>.</p>
          </div>
          <div class="footer-bottom__menu">
            <ul class="footer-bottom__list">
              <li class="footer-bottom__item"> <a class="footer-bottom__link" href="">Trang chủ</a></li>
              <li class="footer-bottom__item"> <a class="footer-bottom__link" href="">Giới thiệu</a></li>
              <li class="footer-bottom__item"> <a class="footer-bottom__link" href="">Sản phẩm</a></li>
              <li class="footer-bottom__item"> <a class="footer-bottom__link" href="">Tin khuyến mãi</a></li>
              <li class="footer-bottom__item"> <a class="footer-bottom__link" href="">Dịch vụ</a></li>
              <li class="footer-bottom__item"> <a class="footer-bottom__link" href="">Liên hệ</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>